<!Doctype html>
<html>
	<head>
		<meta charset=UTF-8>
		<title>Contacts</title>
		<link rel="stylesheet" type="text/css" href="/styles.css">
	</head>
	<body>
		<%= yield %>
		<nav>
		</nav>
	</body>
	<footer>
		<Created by : D.G.Slipp/>
	</footer>
</html>

